{% extends 'partials/base.html' %}
{% block title %}Todo App{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
   <div class="border pt-3">
        <div class="alert alert-danger">
            <p>Are you sure you want to delete?</p>
        </div>
        <form method="POST">
            {% csrf_token %}
            <a class="btn btn-secondary"href="{% url 'todo-index' %}">Cancel</a>     
            <input class="btn btn-danger" type="Submit" value="Confirm">
        
        </form>
   </div>
{% endblock %}